@charset "UTF-8";

/** 비쥬얼 */
#mvisual_layout  {height:550px;text-align:center; overflow:hidden;position:relative;width:100%;}
#mvisual_layout .mvisual_wrap{position:relative;width:100%;height:100%; /*z-index:10*/ background:#23afe3;}
#mvisual_layout .mvisual_wrap .movImg {
	display:inline-block;position:absolute;top:50%;left:50%; max-width:none;max-height:none;width:100%;height:auto;padding:0;margin:0;
	transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
     -webkit-animation: move 5s linear infinite alternate;
    animation:move 5s linear infinite alternate;
}

@-webkit-keyframes move {
	from   {top:0;}
	to     {top:200px;}
}

@keyframes move {
	from   {top:0;}
	to   {top:200px;}
}

.txt03 {position:absolute; top:152px; z-index:10; width:100%; text-align:center; font-family:S-CoreDream-6Bold; font-size:28px; color:#FFF; letter-spacing:-0.002em; color:#FF9}
.txt03, .txt04, .txt05 {
	animation-duration:1s;
	animation-fill-mode: both;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	-webkit-animation-duration:1s;
	-webkit-animation-fill-mode: both;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	animation-delay:0.5s; -webkit-animation-delay:0.5s;
	animation-name:slogon_ac; -webkit-animation-name:slogon_ac;
	z-index:1;
}

.txt04 {
	font-size:52px; color:#fff;
	position:absolute; top:205px; z-index:10; text-align:center; width:100%;
	font-family:S-CoreDream-7ExtraBold;
	animation-delay:1s; -webkit-animation-delay:1s;
 }

.txt05 {
	font-size:52px; color:#fff;
	position:absolute; top:265px; z-index:10; text-align:center; width:100%;
	font-family:S-CoreDream-7ExtraBold;
	animation-delay:1.5s; -webkit-animation-delay:1.5s;
 }

@keyframes slogon_ac {
	0% {opacity:0; -webkit-opacity:0; transform:translateY(20px);}
	100% {opacity:1; -webkit-opacity:1; transform:translateY(0px);}
}

@-webkit-keyframes slogon_ac {
	0% {opacity:0; -webkit-opacity:0; transform:translateY(20px);}
	100% {opacity:1; -webkit-opacity:1; transform:translateY(0px);}
}
/** 비쥬얼 끝 */


/* 메인퀵메뉴 */
.m_quick ul {position:absolute; bottom:70px; z-index:10; margin-left:-325px; left:50%; display:flex; justify-content:space-between; flex-wrap:wrap; width:650px;}
.m_quick li {width:140px;height:140px;}
.m_quick li a{
	display:block;height:100%;padding-top:95px;color:#000; text-align:center; font-weight:600;
	border-radius:50%;box-sizing:border-box;
	}
.m_quick li a:hover{color:#fff; -webkit-animation:vibes2 1.5s ease infinite; animation:vibes2 1.5s ease infinite;}
/*.m_quick li a.icon01{background:#fff url(../images/main/m_icon01.png) no-repeat 50% 30%;}*/
/*.m_quick li a.icon01:hover {background:#f19149 url(../images/main/m_icon01_ov.png) no-repeat 50% 30%;}*/
/*.m_quick li a.icon02{background:#fff url(../images/main/m_icon02.png) no-repeat 50% 30%;}*/
/*.m_quick li a.icon02:hover {background:#f19149 url(../images/main/m_icon02_ov.png) no-repeat 50% 30%;}*/
/*.m_quick li a.icon03   {background:#fff url(../images/main/m_icon03.png) no-repeat 50% 30%;}*/
/*.m_quick li a.icon03:hover {background:#f19149 url(../images/main/m_icon03_ov.png) no-repeat 50% 30%;}*/
/*.m_quick li a.icon04   {background:#fff url(../images/main/m_icon04.png) no-repeat 50% 30%;}*/
/*.m_quick li a.icon04:hover {background:#f19149 url(../images/main/m_icon04_ov.png) no-repeat 50% 30%;}*/

@-webkit-keyframes vibes2{
	0% {transform:translateY(0)}
	20% {transform:translateY(4px)}
	40% {transform:translateY(0)}
	60% {transform:translateY(6px)}
	100% {transform:translateY(0)}
}
@keyframes vibes2{
	0% {transform:translateY(0)}
	20% {transform:translateY(4px)}
	40% {transform:translateY(0)}
	60% {transform:translateY(6px)}
	100% {transform:translateY(0)}
}
/* 메인퀵메뉴 끝 */


/* 타이틀 */
.m_h3  {position:relative; font-size:28px; font-family:S-CoreDream-7ExtraBold; color:#000;}
/* 타이틀 끝 */


/* m_section01 */
.m_section01  {
	width:100%; margin:60px auto 0 auto;
	/*background:url(../images/main/m_bg01.png) no-repeat 100% 0;*/
	}

.m_section02  {width:100%; margin:30px auto 60px auto;}

.m_section03  {
	width:100%; margin:60px auto 0 auto; padding:60px 0;
	/*background:#ebf6fb url(../images/main/m_bg03.png) no-repeat 0 100%;*/
	}



.m_section01 h3, .m_section02 h3, .m_section03 h3   {position:relative; padding-top:15px; margin-bottom:20px;}
.m_section01 h3:after, .m_section02 h3:after, .m_section03 h3:after {content:""; position:absolute; top:0; left:0; width:12px; height:12px; border:4px solid #3f00f4}
.tab_list {display:flex; align-items:center; justify-content:flex-start; flex-wrap: wrap;}
.tab_list li {width:auto; padding:0 10px;}
.tab_list li:nth-child(1) {padding:0 10px 0 0;}
.tab_list li a { display:block;}
.tab_list li a:hover,.tab_list li a:active, .tab_list li a.on { text-decoration:underline; color:#000; font-weight:600;}
.btn_control {display:flex; align-items:center; justify-content:space-between; flex-wrap: wrap; width:140px;}
.tab00  {display:flex; align-items:center; justify-content:space-between; flex-wrap: wrap;}

.photo_list02 ul li,
.photo_list02 ul li a,
.photo_list02 ul li a .photo,
.photo_list02 ul li a .photo span img{ width:100%; height:100%;}
.photo_list02 ul li a .photo { position:relative}
.photo_list02 ul li, .photo_list02 ul li a{ position:relative}

.photo_list02 ul{
	overflow:hidden; padding:0;
	display:flex; align-items:center; flex-wrap: wrap;
	margin-bottom:30px;
	}

.photo_list02 ul li{width:30%; margin:30px 30px 0px 0px;}
.photo_list02 ul li a{display:block; width:100%; height:100%;}

.photo_list02 ul li a .photo{overflow:hidden; position:relative; display:flex; align-items:center; width:100%; height:310px; background-color:#eee;}

.photo_list02 ul li a .subject,
.photo_list02 ul li a .date{padding:0 10px;}
.photo_list02 ul li a .subject{overflow:hidden; display:block; margin:15px 0 4px; white-space:nowrap; text-overflow:ellipsis; font-weight:500; font-size:18px; color:#000; text-align:center;}
.photo_list02 ul li a .date{display:block; margin-bottom:12px; font-size:14px; color:#666; text-align:right}

.photo_list02 ul li { padding-top:20px}
.photo_list02 ul li .ing  {
 position:absolute; top:-35px; left:0; width:75px; height:75px; background:#3f00f4; z-index:10; border-radius:50%; color:#FFF;
 display:flex; align-items:center; justify-content: center; font-family:S-CoreDream-6Bold;
 }
.photo_list02 ul li .ing.end {background:#999;}

/* m_section01 끝 */

.h3_area {display:flex; align-items:center; flex-wrap: wrap;  justify-content: space-between;}



/* 공지사항 */
.news {display:flex; align-items:center; justify-content:flex-start; flex-wrap: wrap; width:100%; margin-top:20px;}
.news li {width:23%; background:#FFF; padding:25px 25px 20px 25px; position:relative;  box-shadow:7px 7px 5px rgba(99,181,216,0.1); margin-right: 1rem;}
.news li:hover {box-shadow:7px 7px 5px rgba(99,181,216,0.4)}
.news li a { display:block;}
.news li .news_part {color:#3f00f4; display:block; font-size:15px;}
.news li .news_title {font-size:19px; font-family:S-CoreDream-7ExtraBold; color:#333; margin-bottom:10px;}
.news li .news_txt {line-height:140%; height:115px; overflow:hidden; color:#555; margin-bottom:10px;}
.news li .news_date {color:#777; font-size:13px}
.news li .more {position:absolute; bottom:12px; right:20px}

.news_mo {display:none;}
/* 공지사항 끝 */

    .photo_list02{display:block;}
    .btn_control{display:flex;}
    .photo_list03, .btn_control_mo {display:none;}



 @media all and (max-width:792px){
 .news li{width:100%;margin-right:0px;margin-bottom:1rem;}
	 .m_section01, .m_section02, .m_section03  { padding-left:30px; padding-right:30px;}
	 #mvisual_layout .mvisual_wrap .movImg {
	display:inline-block;position:absolute;top:50%;left:50%; max-width:none;max-height:none;width:100%;height:auto;padding:0;margin:0;
	transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
     -webkit-animation: move 5s linear infinite alternate;
    animation:move 5s linear infinite alternate;
     }
 }

 @media all and (max-width:620px){
     .photo_list02 ul li{width:30%; margin:30px 0px 0px 0px;}
	 #mvisual_layout {height:500px;}
	 .m_quick ul {position: absolute; bottom:20px; z-index:10; margin-left:0; left:10%; display:flex; justify-content:space-between; flex-wrap:wrap; width:300px; margin:0 auto;}
	 .m_quick ul li { margin-bottom:10px; width:120px;height:120px;}
	 .m_quick li a{ padding-top:85px;}
	 .txt03 {top:90px; font-size:22px;}
	 .txt04 {top:125px; font-size:32px;}
	 .txt05 {top:165px; font-size:32px;}
	 }


/* 장비예약 */
.cal_area  {
	/*background:url(../images/main/m_bg02.jpg) no-repeat 0 0;*/
	display:flex; align-items:center; justify-content:space-between; flex-wrap: wrap; width:100%;
	padding:50px;
}
.cal {width:60%;}

.m_quick02 { width:25%;}
.m_quick02 ul {display:flex; justify-content:space-between; flex-wrap:wrap; width:100%;}
.m_quick02 li {width:130px;height:130px; margin-bottom:20px;}
.m_quick02 li:nth-child(3), .m_quick02 li:nth-child(4) {margin-bottom:0;}
.m_quick02 li a{
  display:block;height:100%;padding-top:85px;color:#000; text-align:center; font-weight:600;
  border-radius:50%;box-sizing:border-box;
}
.m_quick02 li a:hover{ -webkit-animation:vibes2 1.5s ease infinite; animation:vibes2 1.5s ease infinite;}
/*.m_quick02 li a.icon01{background:#fff url(../images/main/m02_icon01.png) no-repeat 50% 30%;}*/
/*.m_quick02 li a.icon02{background:#fff url(../images/main/m02_icon02.png) no-repeat 50% 30%;}*/
/*.m_quick02 li a.icon03   {background:#fff url(../images/main/m02_icon03.png) no-repeat 50% 30%;}*/
/*.m_quick02 li a.icon04   {background:#fff url(../images/main/m02_icon04.png) no-repeat 50% 30%;}*/


@-webkit-keyframes vibes2{
0% {transform:translateY(0)}
20% {transform:translateY(4px)}
40% {transform:translateY(0)}
60% {transform:translateY(6px)}
100% {transform:translateY(0)}
}

@keyframes vibes2{
0% {transform:translateY(0)}
20% {transform:translateY(4px)}
40% {transform:translateY(0)}
60% {transform:translateY(6px)}
100% {transform:translateY(0)}
}

@media all and (max-width:792px){
.cal,  .m_quick02 { width:100%;}
.m_quick02 li {margin-bottom:0;}
}
/* 장비예약 끝 */

/* 배너 */
.sec05 {background:#fff; position: relative; }

.sec05 > .banWrap {
	width:1280px;
    margin:0 auto;
    max-width:100%;
    overflow:hidden;
    padding:30px 0;
    display: block;
    box-sizing: border-box;
    height: 120px;
    position: relative;
}

p.banUtiwrap {
	position:absolute;
	left:0px;
	width:140px;
	border-right:1px solid #cccccc;
	height: 60px;

}

p.banUtiwrap > a {
	display: inline-block;
	border: 1px solid #d3d3d3;
	background: #fff;
}
p.banUtiwrap > a > span {
	display: block; text-indent: -50000px;
	/*background-image: url("../images/main/icon_playbt01.png");*/
	background-repeat: no-repeat;
}

p.banUtiwrap > a.benMore {display: block;
	border: none; padding: 5px 0;
}
p.banUtiwrap > a.benMore > span {text-indent: 0px;
	/*background-image: url("../images/main/more.png");*/
	background-position: 70px 50%;
}

p.banUtiwrap > a.prev > span {background-position: 0 50%; width: 22px; height: 22px;}
p.banUtiwrap > a.stop > span {background-position: -20px 50%; width: 22px; height: 22px;}
p.banUtiwrap > a.play > span {background-position: -40px 50%; width: 22px; height: 22px;}
p.banUtiwrap > a.next > span {background-position: -60px 50%; width: 22px; height: 22px;}


.banLiwrp {
	overflow: hidden;
	position: absolute;
	width: 1140px;
	left: 140px; top: 35px;
}

ul.banList {
	width : 1500px !important;
	overflow: hidden; min-height: 10px;
	position: relative;
    white-space: nowrap;
}
ul.banList > li {
	float: left;
	padding: 0 1%;
}

ul.banList > li > a {
	display:block;
	border: 1px solid #d1d1d1;
	width:200px; text-align:center; padding:5px 10px;
}

ul.banList > li > a > img {vertical-align:middle;}
/* 배너 끝 */

@media all and (max-width:792px){
.sec05 {display:none;}
	}

/* 달력 */
 .calender_wrap  {display:flex; justify-content:flex-start; flex-wrap:wrap; width:70%;}
			   .calender_wrap .m_calender01 {width:60%; padding:15px 15px 10px 15px; background:#fff}
			   .calender_wrap .schedule {width:40%; background:#a0a1a1; padding:15px; position:relative;}
			   .calender_wrap .schedule h6 {color:#FFF; font-size:18px; font-weight:600; padding-bottom:15px; margin:10px 0 15px 0; border-bottom:1px solid #fff; text-align:center;}

                  .schedule_list { background:#FFF; border-radius:10px; padding:20px;}
                 .schedule_list > li{position:relative; padding-left:10px; box-sizing:border-box; word-break:keep-all; font-size:14px;}
					.schedule_list > li strong {color:#2e54ae;}
					.schedule_list > li:first-child{margin-top:0;}
					.schedule_list > li:before{
						content:""; display:block; position: absolute; left:0; top:10px; width:4px; height:4px; background:#2e54ae;
						border-radius:50%; -webkit-border-radius:50%;
					}
.calender_wrap .schedule .btn_more_m {
	display:block; padding:6px 15px;
	font-size:18px; text-align:center; vertical-align:top; box-sizing:border-box;
	transition:all 0.3s ease; -webkit-transition:all 0.3s ease;
	width:100%; border-radius:10px; margin-top:20px;
}
.calender_wrap .schedule .btn_more_m,
.calender_wrap .schedule .btn_more_m:link,
.calender_wrap .schedule .btn_more_m:visited,
.calender_wrap .schedule .btn_more_m:active{background:#333; border:1px solid #333; color:#fff;}
.calender_wrap .schedule .btn_more_m:hover{background:#fff; border:1px solid #333; color:#333; text-decoration:none; cursor:pointer;}

@media screen and (max-width:768px){
	.calender_wrap, .calender_wrap .m_calender01, .calender_wrap .schedule {width:100%;}
	/*.cal_area {padding:20px; background:url(../images/main/m_bg02.jpg) repeat-y}*/

	.m_quick02 { width:100%; padding:30px 30px 10px 30px;}
.m_quick02 ul {display:flex; justify-content:space-between; flex-wrap:wrap; width:100%;}
.m_quick02 li {width:100px;height:100px; margin-bottom:20px;}
.m_quick02 li:nth-child(3), .m_quick02 li:nth-child(4) {margin-bottom:0;}
.m_quick02 li a{
  display:block;height:100%;padding-top:65px;color:#000; text-align:center; font-weight:600;
  border-radius:50%;box-sizing:border-box;
}
.m_quick02 li a:hover{ -webkit-animation:vibes2 1.5s ease infinite; animation:vibes2 1.5s ease infinite;}
/*.m_quick02 li a.icon01{background:#fff url(../images/main/m02_icon01.png) no-repeat 50% 30%; background-size:40%;}*/
/*.m_quick02 li a.icon02{background:#fff url(../images/main/m02_icon02.png) no-repeat 50% 30%; background-size:40%;}*/
/*.m_quick02 li a.icon03   {background:#fff url(../images/main/m02_icon03.png) no-repeat 50% 30%; background-size:40%;}*/
/*.m_quick02 li a.icon04   {background:#fff url(../images/main/m02_icon04.png) no-repeat 50% 30%; background-size:40%;}*/
	}
/* 달력 끝 */

/* visual_util_row */
.visual_row {position:relative; height:550px; overflow:hidden;}
.visual_slider.slick-slider {z-index: 1;}
.visual_slider .item {height:550px;}
.visual_row .contents_box {position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height:550px;}
.visual_row .contents_box .container {width: 100%; height:550px; font-size: 0; text-align: center; vertical-align: middle;}

.visual_row .contents_box .container:after {content: ''; display: inline-block; height:550px; vertical-align: middle;}
.visual_row .contents_box .container .inner {display: inline-block; position:relative; top:30px; vertical-align: middle;}
.visual_row .contents_box .txt_box {display: inline-block; position: relative; padding:50px;}

.visual_row .contents_box .txt_box .txt1 {margin-bottom:10px; font-family:S-CoreDream-6Bold; font-size:28px; color:#ff9;}

.visual_row .contents_box .txt_box .txt2 {color: #fff; font-size:54px; font-family:S-CoreDream-6Bold; line-height:1.05em;}


.visual_row .contents_box .txt_box .txt2 b {font-weight: 500;}
.visual_row .contents_box .txt_box .txt2 .top {display: inline-block; position: relative; font-size: 0.85em;}

.visual_quick a {display: inline-block; position: relative; width:159px; height: 160px; margin-right: 45px; padding-top: 40px;}
.visual_quick a:last-child {margin-right: 0;}
/*.visual_quick a:before {content: ''; display: block; position: absolute; left: 0; top: 0; z-index: -1; width: 100%; height: 100%; background: url('/images/main/visual_quick_bg.png') center/100% no-repeat; transition: all 0.5s;}*/
/*.visual_quick a .txt {display: inline-block; padding-top:63px; background: url('/images/main/m_quick_ico1.png') center 0 no-repeat; color:#fff; font-size:17px; font-weight:300; min-width:100px;}*/
/*.visual_quick a.q2 .txt {background-image: url('/images/main/m_quick_ico2.png');}*/
/*.visual_quick a.q3 .txt {background-image: url('/images/main/m_quick_ico3.png');}*/
/*.visual_quick a.q4 .txt {background-image: url('/images/main/m_quick_ico4.png');}*/
.visual_quick a:hover:before {-ms-transform: rotate(90deg) scale(1.05); transform: rotate(90deg) scale(1.05);}

.visual_row .control_area {position: absolute; right:2%; top:50%; margin-top:-140px;}
.visual_row .control_area .paging {margin-bottom: 20px;}

.visual_row .control_area .paging .bar {display: block; position: relative; width: 2px; height: 260px; margin: 0 auto 20px; background-color: #fff;}

.visual_row .control_area .paging .bar .in {display: block; position: absolute; bottom: 0; width: 100%; background-color: #f27e1a; transition: all 0.3s;}
.visual_row .control_area .paging .num {color: rgba(255,255,255,0.6); font-size: 20px; font-weight: 300;}
.visual_row .control_area .paging .num .now {color: #fff; font-size:28px;}
.visual_row .control_area .paging .num .sl {font-size: 15px; vertical-align: 2px;}
.visual_row .control_area .btn_box .btn {
	/*display:inline-block; width: 37px; height: 37px; margin-right:5px; background: url('/images/main/visual_prev.png') center/7px no-repeat; border: 1px solid #fff;*/
	box-sizing:border-box; padding:0;
	}


/*.visual_row .control_area .btn_box .btn.next {background-image: url('/images/main/visual_next.png');}*/
/*.visual_row .control_area .btn_box .btn.auto {background-image: url('/images/main/visual_stop.png');}*/
/*.visual_row .control_area .btn_box .btn.auto.play {background-image: url('/images/main/visual_play.png');}*/
.visual_row .control_area .btn_box .btn:hover { border:1px solid #f27e1a;}
/* visual_util_row */

/* 별움직임 */
.visual_row .ev70 {width:1000px; margin:0 auto; z-index:10; position:relative}
	 .visual_row .ev70 .obj {position: absolute; left:0px;top:100px;width:100%;height:100%;}
 .visual_row .ev70 .ob8 {left:240px; top:50px; position:absolute;}
 .visual_row .ev70 .ob9 {left:200px; top:136px; position:absolute;}
  .visual_row .ev70 .ob10 {left:180px; top:20px; position:absolute;}

  .visual_row .ev70 .ob11 {right:200px; top:0; position:absolute;}
  .visual_row .ev70 .ob12 {right:290px;top:30px; position:absolute;}
  .visual_row .ev70 .ob13 {right:230px;top:100px; position:absolute;}

  .visual_row .ev70 .ob8 {animation:ev70_06 6s 2.6s both linear infinite;}
  .visual_row .ev70 .ob9 {animation:ev70_06 6s 2.9s both linear infinite;}
  .visual_row .ev70 .ob10 {animation:ev70_06 6s 3.2s both linear infinite;}

  .visual_row .ev70 .ob11 {animation:ev70_06 4s 2.6s both linear infinite;}
  .visual_row .ev70 .ob12 {animation:ev70_06 4s 2.9s both linear infinite;}
  .visual_row .ev70 .ob13 {animation:ev70_06 4s 3.2s both linear infinite;}


  .visual_row .ev70 .ob88 img {animation:ev70_88 1.5s 0.5s both linear infinite;transform-origin:50% 50%;transform:rotate(2deg);}
  .visual_row .ev70 .ob99 img {animation:ev70_88 1.8s 0.5s both linear infinite;transform-origin:50% 50%;transform:rotate(2deg);}
  .visual_row .ev70 .ob100 img {animation:ev70_88 1.6s 0.5s both linear infinite;transform-origin:50% 50%;transform:rotate(2deg);}


@keyframes ev70_06 {
0% {transform:translateX(0px)translateY(100px)scale(0);opacity:0;}
10% {transform:translateX(0px)translateY(0px)scale(1);opacity:1;}
100% {transform:translateX(0px)translateY(0px)scale(1);opacity:1;}

}


@keyframes ev70_88 {
0% {transform:rotate(0deg);}
100% {transform:rotate(360deg);}
}
/* 별움직임 끝 */


/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height:550px;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


@media screen and (max-width:991px){
    /* visual_row */
    .visual_row .contents_box .txt_box {margin-bottom: 60px;}
    .visual_row .contents_box .txt_box .txt1 {font-size: 14px;}
    .visual_row .contents_box .txt_box .txt2 {font-size: 45px;}
    .visual_quick a {width: 130px; height: 130px; margin-right: 25px; padding-top: 30px;}
    .visual_quick a .txt {padding-top: 50px; background-size: auto 40px; font-size: 14px;}
}


@media screen and (max-width:767px){
    /* visual_row */
    .visual_row .contents_box .txt_box {margin-bottom: 40px; padding: 0 30px 30px;}
    .visual_row .contents_box .txt_box .txt2 {font-size: 35px;}
    .visual_row .contents_box .txt_box .txt2 .top:before {right: -40px; top: -20px; width: 40px; height: 40px; background-size: 40px;}
    .visual_quick {max-width: 300px; margin: 0 auto;}
    .visual_quick a {width: 115px; height: 115px; margin-right: 15px; margin-bottom: 15px; padding-top: 20px;}
    .visual_quick a:nth-child(2n) {margin-right: 0;}
    .visual_quick a:nth-last-child(-n+2) {margin-bottom: 0;}
    .visual_quick a .txt {letter-spacing: -0.8px;}
    .visual_row .control_area {margin-top: -190px;}
    .visual_row .control_area .paging .bar {height: 160px;}
    .scroll_down {bottom: 10px;}
}

@media screen and (max-width:480px){
    /* visual_row */
    .visual_row .contents_box .txt_box {margin-bottom: 30px; padding: 0 15px 23px;}
    .visual_row .contents_box .txt_box .txt1 {font-size:20px;}
    .visual_row .contents_box .txt_box .txt2 {font-size:36px;}
    .visual_quick {max-width: 200px;}
    .visual_quick a {width: 90px; height: 90px; padding-top: 17px; background-image: none; background-color: rgba(0,0,0,0.4); border: 1px solid rgba(220,220,220,0.4); border-radius: 20px;}
    .visual_quick a:before {display: none;}
    .visual_quick a .txt {padding-top: 40px; background-size: auto 32px; min-width:80px;}
    .visual_row .control_area {margin-top:0; right:72% !important }
    .visual_row .control_area .paging .num {font-size: 15px;}
    .visual_row .control_area .paging .num .sl {font-size: 13px;}
    .visual_row .control_area .btn_box .btn {width:28px; height: 28px;}
	.visual_row .contents_box .container .inner {top:10px;}

	.visual_row .ev70 .ob10 {top:-50px !important;}
	.visual_row .ev70 .ob8 {top:-40px !important;}

}







