@charset "UTF-8";

@media (max-width: 960px) {
    .cur_procedure.sub3_procedure {
        padding-bottom: 80px;
    }

    .cur_information.sub_3 {
        margin-bottom: 80px;
    }

    .cur_content.curriculum_wrap.sub_3 {
        padding-bottom: 0;
    }
}


.cur_main.cur_diver_bg .bg_absolute_box {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-image: url("../img/sub1/current_diver_main.svg");
    background-position: center;
    background-repeat: no-repeat;
    transition: all 4s;
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*news & 후기*/
.cur_main.cur_story_bg .bg_absolute_box {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    /*background-image: url("../img/sub1/current_story_main.svg");*/
    background-position: center;
    background-repeat: no-repeat;
    transition: all 4s;
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/*faq*/
.cur_main.cur_faq_bg .bg_absolute_box {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    /*background-image: url("../img/sub1/current_faq_main.svg");*/
    background-position: center;
    background-repeat: no-repeat;
    transition: all 4s;
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*.cur_main.on .bg_absolute_box {
    width: 120%;
}*/
/* 
.cur_main_title {
    text-align: center;
} */