

html, div, span, object, iframe, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, font, img, ins, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, br {
	border: 0 none;
	margin: 0;
	padding: 0;
}
body {
	font-family: Dotum, "돋음", Arial;
	padding: 0;
	margin: 0;
}
textarea {
	border: 1px solid #dcdcdc;
	font-size: 12px;
	margin: 0;
	padding: 10px;
}
li {
	list-style: outside none none;
}
.hidden {
	height: 1px;
	left: -1000px;
	position: absolute;
	top: -100px;
	width: 1px;
}
.disable {
	display: none;
}
caption {
	display: none;
}
.clear {
	clear: both;
}
#clear {
	clear: both;
}

.fb {
	font-weight: bold;
}
.f11 {
	font-size: 11px;
}
.fleft {
	float: left;
}
.tleft {
	text-align: left;
}
.fright {
	float: right;
}
.tright {
	text-align: right;
}
.tcenter {
	text-align: center;
}
select, img, input {
	vertical-align: middle;
}
select {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	font-size: 12px;
	margin: 0 1px;
	padding: 2px 3px;
}
select.st01 {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	font-size: 12px;
	height: 24px;
	margin: 0 1px;
	padding: 0;
}
input {
	/*background-color: #ffffff;*/
/* 	border: 1px solid rgba(220, 220, 220, 1); */
/* 	height: 18px; */
/* 	margin: 0 1px; */
/* 	padding: 3px 5px; */
/* 	position: relative; */
/* 	vertical-align: middle; */
}
input.text_01 {
	background-color: #ffffff;
	border: 1px solid #b9b9b9;
	font-size: 12px;
	height: 15px;
	margin: 0 1px;
	padding: 3px 0 0 3px;
}
input.text_bn {
	background-color: #ffffff;
	border: 1px solid #ffffff;
	font-size: 12px;
	height: 15px;
	margin: 0 1px;
	padding: 3px 0 0 3px;
}
input.text_02 {
	background-color: #ffffff;
	/*border: 1px solid #474747;*/
	font-size: 12px;
	height: 19px !important;
	margin: 0;
	padding: 3px 0 0 3px;
}
input.notype {
	border: 0 none;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
input.cl01 {
	border: 0 none;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
input.br0 {
	border: 0 none;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
input.bordernone {
	border: medium none;
	height: 14px;
	margin: 2px 0 4px;
	padding: 0;
	position: relative;
	top: 3px;
}
input.bordernone_01 {
	background-color: #000000;
	border: medium none;
	height: 14px;
	margin: 2px 0 4px;
	padding: 0;
	position: relative;
	top: 3px;
}
input.bordernone_02 {
	border: medium none;
}
input.readonly {
	background-color: #ebebeb;
}
textarea.readonly {
	background-color: #ebebeb;
}
select.ms01 {
	clear: both;
	margin: 0;
	padding: 1%;
	width: 100%;
}
select.ms02 {
	clear: both;
	margin: 0;
	width: 100%;
}
select.ms03 {
	clear: both;
	margin: 0;
	padding: 1%;
	width: 100%;
}
.date {
	background: #f6f6f6 none repeat scroll 0 0;
	border: 1px solid #cdcdcd;
}
.readonly {
	background: #ebebeb none repeat scroll 0 0;
	border: 1px solid #b9b9b9;
	color: #000000;
}
.required {
	color: #ff0000;
	font-size: 12px;
	font-weight: bold;
}
.w_42 {
	width: 42px;
}
.w_52 {
	width: 52px;
}
.w_56 {
	width: 56px;
}
.w_91 {
	width: 91px;
}
.w_110 {
	width: 110px;
}
.w_128 {
	width: 128px;
}
.w_160 {
	width: 160px;
}
.w_180 {
	width: 180px;
}
.w_200 {
	width: 200px;
}
.w_206 {
	width: 206px;
}
.w_230 {
	width: 230px;
}
.w_240 {
	width: 240px;
}
.w_310 {
	width: 310px;
}
.w_561 {
	width: 561px;
}
.w_600 {
	width: 600px;
}
#util {
	overflow: hidden;
	width: 100%;
}
#util_01 {
	float: left;
	overflow: hidden;
	width: 55%;
}
#util_01_01 {
	overflow: hidden;
	padding: 8px 0 0 15px;
}
#util_01_01 a img {
	width: 230px;
}
#util_02 {
	float: right;
	overflow: hidden;
	width: 43%;
}
#util_02_01 {
    margin: 0;
    overflow: hidden;
    padding: 22px 0 0 0;
    text-align: right;
    width: auto;
    margin-right: 6%;
}
#util_02_01 span {
	display: inline-block;
	line-height: 23px;
	color: #fff;
}
#util_02_02 {
	font-size: 11px;
	margin: 0;
	overflow: hidden;
	padding: 15px 2% 0 0;
	text-align: right;
	width: 98%;
}
#gnb {
	/*background: rgba(0, 0, 0, 0) url("../../images/admin/tmpl/bg2.jpg") no-repeat scroll 0 bottom;*/
	height: 40px;
	overflow: hidden;
	width: 100%;
}
#gnb_01 {
	height: 33px;
	overflow: hidden;
	padding: 7px 0 0 243px;
}
#gnb_01 ul {
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#gnb_01 ul li {
	float: left;
	height: 33px;
	overflow: hidden;
	padding: 0 2px 0 0;
}
#sidemenu {
	float: left;
	overflow: hidden;
	padding: 0;
	width: 200px;
}
#sidemenu_01 {
	margin: 0;
	overflow: hidden;
	padding: 0 0 0 9px;
}
#sidemenu_01 ul {
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#sidemenu_01 ul li {
	height: 26px;
	overflow: hidden;
	padding: 0 0 1px;
	width: 180px;
}
/* #content { */
/* 	height: 100%; */
/* 	margin-left: 200px; */
/* 	overflow: hidden; */
/* 	padding: 23px 26px 0 23px; */
/* } */
#cont_title {
	/*background: rgba(0, 0, 0, 0) url("../../images/admin/sub/dot_2p_01.png") repeat-x scroll 0 bottom;*/
	height: 35px;
	margin-bottom: 20px;
	overflow: hidden;
	width: 100%;
}
#cont_title::after {
	clear: both;
	display: block;
}
#cont_title_01 {
	float: left;
	height: 25px;
	margin-right: -230px;
	width: 230px;
}
#cont_title_02 {
	height: 19px;
	margin-left: 230px;
	padding-top: 6px;
	text-align: right;
}
#cont_title_02 #location {
	font-size: 11px;
}
#content_wrap {
	overflow: hidden;
	padding: 0 0 0 1%;
	width: 98%;
}
#cont_wrap {
	overflow: hidden;
}
#cont_wrap .hd {
	height: 38px;
	width: 400px;
}
#cont_wrap .hd_01 {
	float: left;
	height: 22px;
	padding-left: 4px;
	width: 69px;
}
#cont_wrap .hd_02 {
	float: left;
	height: 21px;
	padding-top: 1px;
	width: 25px;
}
#cont_wrap .hd_03 {
	color: #767676;
	float: left;
	font-weight: bold;
	height: 18px;
	padding-top: 4px;
	text-align: center;
	width: 35px;
}
#cont_wrap .hd_04 {
	float: left;
	height: 21px;
	padding-top: 1px;
	text-align: right;
	width: 25px;
}
#cont_wrap .hd_05 {
	float: left;
	height: 22px;
	overflow: hidden;
	padding-left: 4px;
}
#cont_wrap2 {
	overflow: hidden;
}
#cont_wrap2 .hd {
	height: 28px;
	overflow: hidden;
	width: 100%;
}
#cont_wrap2 .hd_05 {
	float: left;
	height: 22px;
	overflow: hidden;
	padding-left: 4px;
}
#cont_tab_wrap {
	/*background: rgba(0, 0, 0, 0) url("../../images/sub/tab_bg.jpg") repeat-x scroll 0 0;*/
	height: 31px;
	width: 100%;
}
#cont_tab_wrap_01 {
	/*background: rgba(0, 0, 0, 0) url("../../images/sub/tab_bg.jpg") repeat-x scroll 0 0;*/
	height: 31px;
	width: 100%;
}
#cont_tab_01 {
	height: 30px;
	margin-left: 1%;
	width: 98%;
}
#cont_tab_01 .end {
	/*background: rgba(0, 0, 0, 0) url("../../images/sub/tab_end.jpg") no-repeat scroll 0 0;*/
	float: left;
	height: 30px;
	margin: 0;
	padding: 0;
	width: 1px;
}
#table_util_wrap {
	margin: 20px 1% 0;
	overflow: hidden;
	width: 98%;
}
#table_util_wrap_01 {
	margin: 0 1%;
	overflow: hidden;
	width: 98%;
}
#table_util_wrap_001 {
	margin: 0 1%;
	overflow: hidden;
	width: 98%;
}
#table_util {
	overflow: hidden;
	padding-top: 15px;
	width: 100%;
}
#table_util::after {
	clear: both;
	display: block;
}
#table_pop_util {
	overflow: hidden;
	width: 100%;
}
#table_pop_util::after {
	clear: both;
	display: block;
}
#table_util_01 {
	float: left;
	margin-right: -140px;
	overflow: hidden;
	padding: 6px 0 0 10px;
	width: 140px;
}
#table_util_02 {
	margin-bottom: 5px;
	margin-left: 140px;
	overflow: hidden;
}
.table_util_pers_01 {
	float: right;
	height: 25px;
	overflow: hidden;
}
.table_util_pers_02 {
	float: right;
	height: 25px;
	overflow: hidden;
}
.table_util_pers_002 {
	float: right;
	overflow: hidden;
}
.table_util_pers_03 {
	float: right;
	font-size: 11px;
	height: 19px;
	overflow: hidden;
	padding: 10px 10px 0 0;
}
#table_util2 {
	overflow: hidden;
	width: 100%;
}
#table_util2::after {
	clear: both;
	display: block;
}
#table_util2_01 {
	float: left;
	margin-right: -400px;
	overflow: hidden;
	padding: 6px 0 0;
	width: 400px;
}
#table_util2_02 {
	margin-left: 400px;
	overflow: hidden;
}
.table_util2_pers_01 {
	float: right;
	height: 20px;
	overflow: hidden;
}
.table_util2_pers_02 {
	float: right;
	font-size: 11px;
	overflow: hidden;
	padding-top: 6px;
}
#table_util3 {
	overflow: hidden;
	width: 100%;
}
#table_util3::after {
	clear: both;
	display: block;
}
#table_util3_01 {
	float: left;
	margin-right: -120px;
	overflow: hidden;
	padding: 6px 0 0 10px;
	width: 120px;
}
#table_util3_02 {
	margin-left: 120px;
	overflow: hidden;
}
#table_wrap {
	margin: 5px 1% 0;
	overflow: hidden;
	width: 98%;
}
#table_wrap_01 {
	margin: 5px 1% 0;
	overflow: hidden;
	width: 98%;
}
#table_wrap_01_01 {
	margin: 5px 1% 0;
	overflow: hidden;
	width: 98%;
}
#table_wrap_01_02 {
	margin: 5px 1% 0;
	overflow: hidden;
	width: 98%;
}
#table_wrap_01_03 {
	margin: 5px 1% 0;
	overflow: hidden;
	width: 98%;
}
#table_wrap_01_04 {
	margin: 5px 1% 0;
	overflow: hidden;
	width: 98%;
}
.table_wrap_02 {
	margin: 20px 1% 0;
	overflow: hidden;
	width: 98%;
}
#table_wrap_02_01 {
	margin: 20px 1% 0;
	overflow: hidden;
	width: 98%;
}
#table_wrap_02_02 {
	margin: 20px 1% 0;
	overflow: hidden;
	width: 98%;
}
#table_wrap_02_03 {
	margin: 20px 1% 0;
	overflow: hidden;
	width: 98%;
}
#table_wrap_03 {
	margin: 20px 1% 0;
	overflow: hidden;
	width: 98%;
}
#table_wrap_04 {
	margin: 0 1%;
	overflow: hidden;
	width: 98%;
}
#table_wrap_05 {
	margin: 0 1% 20px;
	overflow: hidden;
	width: 98%;
}
.box_01 {
	background-color: #ffffff;
	border: 1px solid #d6d6d6;
	margin-left: 1px;
	overflow: hidden;
	padding: 1%;
	width: 97%;
}
.rep_ck ul {
	margin: 0;
}
.rep_ck ul li {
	margin-bottom: 1px;
	overflow: hidden;
}
.rep_ck ul li.recing {
	/*background: rgba(0, 0, 0, 0) url("../../images/admin/board/icon_recing_01.jpg") no-repeat scroll 0 top;*/
	padding: 0 0 0 56px;
}
.rep_ck ul li.stop {
	/*background: rgba(0, 0, 0, 0) url("../../images/admin/board/icon_stop_01.jpg") no-repeat scroll 0 top;*/
	padding: 0 0 0 56px;
}
.rep_ck ul li.eduing {
	/*background: rgba(0, 0, 0, 0) url("../../images/admin/board/icon_eduing_01.jpg") no-repeat scroll 0 top;*/
	padding: 0 0 0 56px;
}
#footer_01 {
    /*background: rgba(0, 0, 0, 0) url("../../images/admin/tmpl/footer_bg.jpg") repeat-x scroll 0 0;*/
    float: left;
    height: 70px;
    overflow: hidden;
    padding: 16px 0 0 10px;
    text-align: center;
    width: 190px;
}
#footer_02 {
	/*background: rgba(0, 0, 0, 0) url("../../images/admin/tmpl/footer_bg.jpg") repeat-x scroll 0 0;*/
	color: #666666;
	font-size: 11px;
	line-height: 15px;
	margin-left: 200px;
	overflow: hidden;
	padding: 25px 0 0 23px;
}
p.center {
	text-align: center;
}
.input_img_t3 {
	position: relative;
	top: 3px;
}
.input_img_t4 {
	position: relative;
	top: 4px;
}
.input_img_t5 {
	position: relative;
	top: 5px;
}
.input_img_t6 {
	position: relative;
	top: 6px;
}
img.valmid {
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
img.t0 {
	margin: 0;
	padding: 0;
	position: relative;
	top: 0;
}
img.t2 {
	margin: 0;
	padding: 0;
	position: relative;
	top: 2px;
}
img.t3 {
	margin: 0;
	padding: 0;
	position: relative;
	top: 3px;
}
img.t4 {
	margin: 0;
	padding: 0;
	position: relative;
	top: 4px;
}
img.t5 {
	margin: 0;
	padding: 0;
	position: relative;
	top: 5px;
}
img.t6 {
	margin: 0;
	padding: 0;
	position: relative;
	top: 6px;
}
img.t7 {
	margin: 0;
	padding: 0;
	position: relative;
	top: 7px;
}
img.mt0 {
	margin: 0;
	padding: 0;
	position: relative;
	top: 0;
}
img.mt2 {
	margin: 0;
	padding: 0;
	position: relative;
	top: -2px;
}
img.mt3 {
	margin: 0;
	padding: 0;
	position: relative;
	top: -3px;
}
img.mt4 {
	margin: 0;
	padding: 0;
	position: relative;
	top: -4px;
}
img.mt5 {
	margin: 0;
	padding: 0;
	position: relative;
	top: -5px;
}
img.mt6 {
	margin: 0;
	padding: 0;
	position: relative;
	top: -6px;
}
img.mt7 {
	margin: 0;
	padding: 0;
	position: relative;
	top: -7px;
}
span.t2 {
	margin: 0;
	padding: 0;
	position: relative;
	top: 2px;
}
span.t3 {
	margin: 0;
	padding: 0;
	position: relative;
	top: 3px;
}
span.t4 {
	margin: 0;
	padding: 0;
	position: relative;
	top: 4px;
}
span.t5 {
	margin: 0;
	padding: 0;
	position: relative;
	top: 5px;
}
span.t6 {
	margin: 0;
	padding: 0;
	position: relative;
	top: 6px;
}
span.t7 {
	margin: 0;
	padding: 0;
	position: relative;
	top: 7px;
}
span.t8 {
	margin: 0;
	padding: 0;
	position: relative;
	top: 8px;
}
span.t9 {
	margin: 0;
	padding: 0;
	position: relative;
	top: 9px;
}
span.mt2 {
	position: relative;
	top: -2px;
}
span.mt3 {
	position: relative;
	top: -3px;
}
span.mt4 {
	position: relative;
	top: -4px;
}
span.mt5 {
	position: relative;
	top: -5px;
}
span.mt6 {
	position: relative;
	top: -6px;
}
span.mt7 {
	position: relative;
	top: -7px;
}
span.mt8 {
	position: relative;
	top: -8px;
}
span.mt9 {
	position: relative;
	top: -9px;
}
#boardpaging {
	overflow: hidden;
	padding-top: 10px;
	text-align: center;
	width: 100%;
}
.boardpaging {
	overflow: hidden;
	padding-top: 10px;
	text-align: center;
	width: 100%;
}
#boardpaging_01 {
	overflow: hidden;
	padding-top: 10px;
	text-align: center;
	width: 96%;
}
.M_on {
	font-weight: bold;
}
.co_aaaaaa {
	color: #aaaaaa;
}
#full_division {
	height: 31px;
	margin: 0 1%;
	width: 98%;
}
#full_division .right {
	float: right;
}
#full_division_01 {
	height: 31px;
	margin: 0 1%;
	padding-top: 20px;
	width: 98%;
}
#full_division_01 .right {
	float: right;
}
#full_division_02 {
	height: 31px;
	margin: 0 1%;
	padding-top: 20px;
	width: 98%;
}
#full_division_02 .right {
	float: right;
}
#full_division_03 {
	height: 31px;
	margin: 0 1%;
	padding-top: 20px;
	width: 98%;
}
#full_division_03 .right {
	float: right;
}
#full_division_04 {
	height: 31px;
	margin: 0 1%;
	width: 95%;
}
#full_division_04 .right {
	float: right;
}
#halfdivision_n {
	font-size: 11px;
	overflow: hidden;
	padding: 2px 0 5px 10px;
	width: 100%;
}
#halfdivision_n .left {
	padding: 0;
	width: 95%;
}
#halfdivision_lr {
	font-size: 11px;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#halfdivision_lr .left {
	float: left;
	overflow: hidden;
	padding: 0;
	width: 49%;
}
#halfdivision_lr .right {
	float: left;
	overflow: hidden;
	padding: 0;
	text-align: right;
	width: 50%;
}
.halfdivision_lr_01 {
	overflow: hidden;
	padding: 0;
	width: 100%;
}
.halfdivision_lr_01 .left {
	float: left;
	overflow: hidden;
	padding: 0;
	width: 49%;
}
.halfdivision_lr_01 .right {
	float: left;
	overflow: hidden;
	padding: 0;
	text-align: right;
	width: 50%;
}
.halfdivision_lr_01_01 {
	overflow: hidden;
	padding: 0;
	width: 100%;
}
.halfdivision_lr_01_01 .left_01 {
	float: left;
	padding: 0;
}
.halfdivision_lr_01_01 .left_02 {
	float: left;
	padding: 3px 0 0 20px;
}
#halfdivision_lr_64 {
	font-size: 11px;
	padding: 0;
	width: 100%;
}
#halfdivision_lr_64 .left {
	float: left;
	padding: 0;
	width: 60%;
}
#halfdivision_lr_64 .right {
	float: left;
	padding: 0;
	text-align: right;
	width: 39%;
}
#halfdivision_lr_73 {
	height: 28px;
	padding: 0;
	width: 100%;
}
#halfdivision_lr_73 .left {
	float: left;
	padding: 0;
	width: 60%;
}
#halfdivision_lr_73 .right {
	float: left;
	padding: 0;
	text-align: right;
	width: 39%;
}
#halfdivision_r {
	font-size: 11px;
	padding: 0;
	width: 100%;
}
#halfdivision_r .right {
	padding: 0;
	text-align: right;
	width: 98%;
}
#halfdivision_r_bor {
	font-size: 11px;
	height: 30px;
	padding: 0;
	width: 100%;
}
#halfdivision_r_bor .right {
	padding: 0;
	text-align: right;
	width: 98%;
}
#halfdivision_r_bor_01 {
	font-size: 11px;
	height: 30px;
	padding: 0;
	width: 100%;
}
#halfdivision_r_bor_01 .right {
	padding: 0;
	text-align: right;
	width: 98%;
}
#halfdivision_lr_02 {
	font-size: 11px;
	margin-left: 50%;
	padding: 0;
	width: 90%;
}
#halfdivision_lr_02 .left {
	float: left;
	padding: 0;
	width: 49%;
}
#halfdivision_lr_02 .right {
	float: left;
	padding: 0;
	text-align: right;
	width: 50%;
}
#halfdivision_lr_03 {
	font-size: 11px;
	height: 26px;
	padding: 0;
	width: 100%;
}
#halfdivision_lr_03 .left {
	float: left;
	padding: 0;
	position: relative;
	top: 6px;
	width: 60%;
}
#halfdivision_lr_03 .right {
	float: left;
	padding: 0;
	text-align: right;
	width: 39%;
}
#notpage_wrap {
	padding: 0;
	width: 100%;
}
.part_wrap {
	color: #6e6e6e;
	padding-top: 5px;
	text-align: right;
	width: 98%;
}
#pop_wrap_01 {
	margin: 20px 1% 0;
	overflow: hidden;
	width: 96%;
}
#pop_title {
	/*background: rgba(0, 0, 0, 0) url("../../images/admin/sub/dot_2p_01.png") repeat-x scroll 0 bottom;*/
	height: 25px;
	overflow: hidden;
	padding-top: 10px;
	width: 100%;
}
img {
	border: 0 none;
	max-width: 100%;
	vertical-align: top;
}
a.btn_btype_gray {
	background: #ffffff none repeat scroll 0 0;
	border: 1px solid #dcdcdc;
	color: #666;
	display: inline-block;
	font-size: 12px;
	line-height: 10px;
	margin-bottom: 2px;
	margin-left: 2px;
	padding: 6px 15px 7px;
	text-align: center;
	text-decoration: none;
}
a.btn_btype_gray:hover {
	background: #f3f3f3 none repeat scroll 0 0;
	border: 1px solid #d2d2d2;
}
a.btn_type_gray {
	background: #787878 none repeat scroll 0 0;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	line-height: 10px;
	margin-bottom: 2px;
	margin-left: 2px;
	padding: 6px 15px 7px;
	text-align: center;
	text-decoration: none;
}
a.tn_type_gray:hover {
	background: #6e6e6e none repeat scroll 0 0;
}
a.btn_excel {
	background: #258d2e none repeat scroll 0 0;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	line-height: 10px;
	margin-bottom: 2px;
	margin-left: 2px;
	padding: 6px 15px 7px;
	text-align: center;
	text-decoration: none;
}
input.w100, textarea.w100, select.w100 {
	width: 100%;
}
input.w90, textarea.w90, select.w90 {
	width: 90%;
}
input.w80, textarea.w80, select.w80 {
	width: 80%;
}
/* input[type="text"] { */
/* 	height: 16px; */
/* 	margin: 0; */
/* } */
.search01 {
	background: #fff none repeat scroll 0 0;
	border: 2px solid #dcdcdc;
	overflow: hidden;
	padding: 20px 40px;
}
.search01 div {
	border-bottom: 1px solid rgba(220, 220, 220, 1);
	margin-bottom: 10px;
	overflow: hidden;
	padding-bottom: 10px;
	text-align: center;
}
.search01 ul li {
	float: left;
	padding: 0 10px;
}
/*페이징*/
.pagination {
	font-family: Tahoma, sans-serif;
	text-align: center;
	margin: 20px 0;
	position: relative;
	text-align: center;
	width: 100%;
	font-size: 0.92em;
}
.pagination a.pagenum {
	cursor: pointer;
	display: inline-block;
	margin: 0;
	padding: 2px 6px 4px;
	text-decoration: none;
	vertical-align: top;
	line-height: 28px;
}
.pagination a {
	color: #555;
}
.pagination a.pagenum:hover {
	text-decoration: underline;
}
.pagination strong {
	background-color: #7f7f7f;
	border: 1px solid #7f7f7f;
	color: #fff;
	display: inline-block;
	margin: 0;
	padding: 1px 11px;
}
.pagination span.arrow {
	border: 1px solid #d9d9d9;
	cursor: pointer;
	display: inline-block;
	font-size: 0;
	line-height: 0;
	width: 40px;
	height: 28px;
	vertical-align: middle;
}
.pagination span.arrow.pagefirst {
	/*background: #fff url(../../images/common/btn_page_first.gif) no-repeat center;*/
}
.pagination span.arrow.pageprev {
	/*background: #fff url(../../images/common/btn_page_prev.gif) no-repeat center;*/
	margin-right: 10px;
}
.pagination span.arrow.pagenext {
	/*background: #fff url(../../images/common/btn_page_next.gif) no-repeat center;*/
	margin-left: 10px;
}
.pagination span.arrow.pageend {
	/*background: #fff url(../../images/common/btn_page_end.gif) no-repeat center;*/
}
.pagination a:hover span.arrow {
	border: 1px solid #7f7f7f;
	text-decoration: none;
}
.tab3 {
	/*background: url(../images/layout/h1_line.png) repeat-x bottom;*/
	overflow: hidden;
	margin: 0;
	font-size: 0.96em;
	font-family: 'NanumBarunGothic';
}
.tab3 li {
	float: left;
	width: 10%;
	text-align: center;
}
.tab3 li a {
	display: block;
	border: 1px solid #dcdcdc;
	margin: 0 5px 5px 0;
	letter-spacing: -1px;
	padding: 7px 15px 5px 15px;
	color: #666;
}
.tab3 li.on a, .tab3 li a:hover {
	color: #fff;
	background: #509bcd;
	border: 1px solid #4691c3;
	font-weight: 600;
}
input[type=text]#searchWrd {
	ime-mode:active;
    ime-mode: auto  !important;
}

/* 지식기부 강사용  */
.st_strong_red {
	color: #dc4b41;
}


/* CMS 2022 */
.cms-user-name{
    height: 4.375rem;
    display: flex;
    align-items: center;
    padding: 0 0.75rem;
}

.bell-icon{
	font-size:1.5rem;
	color:#ffbb1a;
}
.alert-item{
	display:flex;
	width:100%;
}
.alert-item-label{
	flex:2;
}
.alert-item-count{
	flex:1;
	text-align:right;
}
.ct-sel-wrap{
	transition: all 0.2s ease-in-out;
}
.ct-sel-wrap:hover{
	background-color:#f7f8fb;
}
.ct-sel-box{
	width:20px;
	height:20px;
	border:2px solid #d9d9d9;
	transition: all 0.2s ease-in-out;
}
.ct-sel-box.act{
	background-color:#4e73df;
}


/* added new style */
.fc_black {
	color: #000 !important;
}